# My files
*.cov
*.sam

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Pf3D7_genome_one-line-seqs.fa.fai
test0
